# Note: Things that can be safely transformed are things that cannot be overridden - fields, enums,
#       final methods/classes, methods in a final class, private methods/classes, and static methods.

# Client preferences
#public net.minecraft.client.gui.screen.Screen field_230710_m_ # buttons
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_146999_f # imageWidth
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147000_g # imageHeight
#public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147003_i # leftPos
#public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147009_r # topPos

# Buttons
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_146995_H # skipNextRelease

# Entity registration
#public net.minecraft.entity.EntityType field_233593_bg_ # immuneTo
public net.minecraft.entity.ai.attributes.AttributeModifierMap$MutableAttribute field_233811_a_ # builder

# AI goals
public net.minecraft.entity.ai.goal.GoalSelector field_220892_d # availableGoals
public-f net.minecraft.entity.ai.goal.PrioritizedGoal field_220775_b # priority

# Default game rule changes
public net.minecraft.world.GameRules field_223623_z # GAME_RULE_TYPES
public net.minecraft.world.GameRules$RuleKey field_234910_b_ # RuleKey#category
public net.minecraft.world.GameRules$BooleanValue func_223568_b(Z)Lnet/minecraft/world/GameRules$RuleType; # BooleanValue.create( boolean )
public net.minecraft.world.GameRules$IntegerValue func_223559_b(I)Lnet/minecraft/world/GameRules$RuleType; # IntegerValue.create( int )

# Misc
public-f net.minecraft.advancements.Advancement$Builder field_192066_f # requirements
